Library/
UserSettings/
Logs/
Packages/packages-lock.json
Temp/
.idea/
obj/
vr-bezier-surface-sketching-tool.sln
Assembly-CSharp.csproj
VRSketchingGeometry.csproj
Assets/SteamVR
Assets/SteamVR_Input
Assets/SteamVR_Resources
SteamVR.csproj
SteamVR_Actions.csproj
SteamVR_Editor.csproj
SteamVR_Input_Editor.csproj
SteamVR_Windows_EditorHelper.csproj
unityProject.vrmanifest
Assets/SteamVR.meta
Assets/SteamVR_Input.meta
Assets/SteamVR_Resources.meta
Assets/StreamingAssets.meta
Assets/XR.meta
Assets/StreamingAssets
Assets/XR
ProjectSettings/XRPackageSettings.asset
